$font: 'Inter', sans-serif;

$bg-body: #f7f8f9;
$bg-gray-light: #F8FAFC;

$color-body: #272727;
$color-accent: #FB5748;
$color-accent-hover: #C83B2E;
$color-white: #FCFCFC;
$color-error: #C96969;



$width-container: 1810px;
$pd-container: 15px;
$pd-container-smx: 15px;

$md-desktop-lg: 1919.98px;
$md-desktop-md: 1439.98px;
$md-desktop: 1199.98px;
$md-tablet: 1023.98px;
$md-tablet-sm: 767.98px;
$md-mobile-lg: 609.98px;
$md-mobile: 478.98px;
$md-mobile-sm: 399.98px;
$md-mobile-smx: 360px;

$header-h: 100px;
$header-h-t: 80px;
$header-h-m: 70px;