.navfix {

    position: fixed;
    z-index: 9999;
    left: 0; top: 0;
    width: 100%; height: calc(var(--vh) * 100);
    z-index: -100;
    
    transform: translateY(-100%);
    transition:  all 0.3s ease-in-out;
    overflow: auto;
    margin: 0; 
    background: url(../images/bg/menu.jpg);
    background-size: cover;
    padding: 90px 0 45px;
    color: #fff;
    &.opened {
        transform: translateY(0);
    }
    &__cols {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        padding: 0 30px;
    }
    &__menu {
        li {
            & + li {
                margin-top: 24px;
            }
            a {
                font-size: 18px;
            }
        }
    }
    &__right {
        display: flex;
        flex-direction: column;
    }
    &__tt {
        font-size: 18px;
        font-weight: 700;
        text-wrap: balance;
    }
    &__buttons {
        margin-top: 20px;
        .btn {
            height: 38px;
            padding: 0 30px;
            font-size: 12px;
        }
    }
    &__lang {
        margin-top: 20px;
        ul {
            display: flex;
            gap: 20px;
        }
        li {
            a {
                width: 44px; height: 44px;
                font-size: 18px;
            }
            &:not(.current) a {
                color: #808b98;
                border-color: #808b98;
            }
        }
    }

    @media (max-width: $md-mobile-lg) {
        &__cols {
            grid-template-columns: 1fr;
            grid-gap: 26px;
        }
        &__lang {
            order: -1;
            margin: 0 0 26px;
        }
    }
    
}