
/**************************************************************
footer
**************************************************************/
.footer {
	padding-top: 45px;
    a {
        transition: all 0.3s ease-in-out;
        &:hover {
            color: $color-accent;
        }
    }
    &__cols {
        display: flex;
        gap: 30px;
        justify-content: space-between;
    }
    &__left, &__right {
        display: flex;
        flex-direction: column;
    }
    &__tt {
        text-wrap: balance;
    }
    &__center {
        margin-left: 33.3%;
    }
    &__menu {
        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 10px 20px;
        }
        li {
           
        }
    }
    &__contacts {
        &-item {
            & + & {
                margin-top: 4px;
            }
        }
    }

    &__bottom {
        margin-top: auto;
        padding-top: 60px;
        margin-bottom: 5px;
        align-items: flex-end;
        justify-content: space-between;
        color: #8a8a8a;
        font-size: 16px;
        a {
            &:hover {
                color: $color-body;
            }
        }
    }
    &__interside {
    
    }

    @media (max-width: $md-desktop-lg) {
        font-size: 16px;
        &__buttons {
            .btn {
                height: 40px;
                font-size: 13px;
                padding: 0 35px;
            }
        }
        &__bottom {
            font-size: 14px;
        }
    }
    @media (max-width: $md-desktop-md) {            
        &__center {
            margin-left: 16.6%;
        }
    }
    @media (max-width: $md-tablet) {   
        padding-top: 24px;         
        &__center {
            margin-left: 0;
            width: 25%;
        }
        &__right {
          
        }
    }
    @media (max-width: $md-tablet-sm) {
        &__cols {
            gap: 0;
        }
        &__left {
            width: 65%;
            margin-bottom: 40px;
        }
        &__center {
            width: 50%;
        }
        &__menu {
            
            ul {
                flex-direction: column;
                gap: 5px;
            }
        }
        &__right {
            
        }
        &__bottom {
            padding-top: 0;
            margin-top: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            > * {
                margin-top: 6px;
            }
        }
        &__interside {
            margin-top: 16px;
        }
    }
    @media (max-width: $md-mobile-lg) {
        font-size: 14px;
        &__left {
            width: 50%;
            max-width: 270px;
        }
        &__right {
            min-width: 45%;
        }
        &__buttons {
            .btn {
                height: 36px;
                font-size: 12px;
                padding: 0 30px;
            }
        }

    }
}
